/* #countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:  Helvetica;
}
#BtnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1,5em;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: plum
}
body{
    font-family: verdana;
    text-align: center;
}
#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}
#myLabel{
    font-size: 3em;
} */

/* #container{
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: brown;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: aquamarine;
}
button:active{
    background-color: aquamarine;
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceresult{
    margin: 25px;
}
#diceimages{
    width: 150px;
    margin: 5px;
} */