#container{
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: brown;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: aquamarine;
}
button:active{
    background-color: aquamarine;
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceresult{
    margin: 25px;
}
#diceimages{
    width: 150px;
    margin: 5px;
}